body {
  background-image: url(./images/fondo4.jpg);
  background-size: 100% auto;
  margin: 0;
  font-family: cursive;
  color: white;

}

.imgPokemon{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.imgPokemon img:hover{
  transform: scale(1.5);
}

.container {
  padding: 40px;
  margin: 0 auto;
}

.card {
  padding: 20px;
  background-color: #f4f4f4;
  color: #222;
  text-align: center;
  border-radius: 10px;
  opacity: 0.95;
  list-style: none;
}

.card-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 0;
}

.card-subtitle {
  font-weight: lighter;
  color: #666;
  margin-top: 5px;
}

.card-image {
  height: 100px;
}

.card-image:hover {
  transform: scale(1.2);
}


#pokedex {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.card:hover {
  animation: bounce 0.8s linear;
}


@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-2px);
  }
  80% {
    transform: translateY(-0px);
  }
}